.loader {
  width: 100vw;
  height: 0.2rem;
  position: relative;
  overflow: hidden;
  background-color: #ddd;
  margin: -6px 0 0 0;
  -webkit-border-radius: 1.4rem;
  -moz-border-radius: 1.4rem;
  border-radius: 1.4rem;
}

.loader:before {
  content: "";
  position: absolute;
  height: 0.2rem;
  width: 50%;
  background-color: #e52017;
  -webkit-border-radius: 1.4rem;
  -moz-border-radius: 1.4rem;
  border-radius: 1.4rem;
}
