// Colors
$searchBackgroundColor: #f8f8f8;
$grayColor: #a2a2a2;
$lightShadeGray: #ececec;
$redColor: #e52017;
// Default Video Size
$videoImgHeight: 12rem;
$videImgWidth: 20rem;
// Min Video Size
$MinVideoWidth: 12rem;
$MinVideoHeight: 10rem;
// Medium Video Size
$MediumVideoWidth: 17rem;
$MediumVideoHeight: 13rem;
