@import "../../sass/constants";

// Channel Section

#channel {
  display: flex;
  align-items: center;
  margin-bottom: 1.4rem;
  img {
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    margin-right: 0.6rem;
  }
  h3 {
    margin-bottom: 0.2rem;
    font-weight: 400;
  }
  p {
    font-size: 1rem;
    color: $grayColor;
  }
}
